.lobby-container {
  min-height: 100vh;
  background: #f8fafc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lobby-card {
  width: 500px;
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,.15);
}

.room-id {
  color: #2563eb;
  text-align: center;
}

.user-list {
  list-style: none;
  padding: 0;
}

.user-item {
  background: #e0f2fe;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.start-btn {
  width: 100%;
  padding: 12px;
  background: #16a34a;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.start-btn:hover {
  background: #15803d;
}